Use R or Python to find Q1, Q2, Q3, D9, and P95 and other measures for the following sample of test scores:

88 45 53 86 33 86 85 30 89 53 41 96 56 38 62
71 51 86 68 29 28 47 33 37 25 36 33 94 73 46
42 34 79 72 88 99 82 62 57 42 28 55 67 62 60
96 61 57 75 93 34 75 53 32 28 73 51 69 91 35

In [37]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML

data = [88, 45, 53, 86, 33, 86, 85, 30, 89, 53, 41, 96, 56, 38, 62, 71, 51, 86, 68, 29, 28, 47, 33, 37, 25, 36, 33, 94, 73, 46, 42, 34, 79, 72, 88, 99, 82, 62, 57, 42, 28, 55, 67, 62, 60, 96, 61, 57, 75, 93, 34, 75, 53, 32, 28, 73, 51, 69, 91, 35]
df = pd.DataFrame(data)

count = df.count().to_frame(name="Valid").transpose()

central_tends = df.agg(['median', 'mean', 'std', 'var', 'skew'])
central_tends.rename(index={'median': 'Median', 'mean': 'Mean', 'std': 'Std. Deviation', 'var': 'Variance', 'skew': 'Skewness'}, inplace=True)

mode_pre = pd.Series(data).mode().tolist()
mode_d = {'Mode ᵃ': mode_pre}
mode_df = pd.DataFrame(mode_d)
mode = mode_df.transpose()[0].to_frame()

def skew_sde(x):
    n = len(x)
    return np.sqrt(6 * n * (n-1) / ((n-2) * (n+1) * (n+3)))
error_skew = df.apply(skew_sde).to_frame(name="Std. Error of Skewness").transpose()

kurtosis = df.kurtosis().to_frame(name="Kurtosis").transpose()

def kurt_sde(x):
    n = len(x)
    return np.sqrt(24 * n * (n-1)**2 / ((n-3) * (n-2) * (n+3) * (n+5)))
error_kurt = df.apply(kurt_sde).to_frame(name="Std. Error of Kurtosis").transpose()

extremes = df.agg(['min', 'max'])
extremes = extremes.rename(index={'min': 'Minimum', 'max': 'Maximum'})
percentiles = df.quantile([0.25, 0.50, 0.75, 0.90, 0.95])
percentiles = percentiles.rename(index={0.25: '25th percentile', 0.50: '50th percentile', 0.75: '75th percentile', 0.90: '90th percentile', 0.95: '95th percentile'})

final_table = pd.concat([count, mode, central_tends, error_skew, kurtosis, error_kurt, extremes, percentiles])
final_table = final_table.rename(columns={0: 'Score'})
description = pd.DataFrame(data={'Score': ['ᵃ More than one mode exists, only the first is reported']}, index=[''])
final_table = pd.concat([final_table, description])
final_table.loc['Valid', 'Score'] = int(final_table.loc['Valid', 'Score'])

def format_values(x):
    if isinstance(x, float):
        return f'{x:.3f}'
    return x

final_table['Score'] = final_table['Score'].apply(format_values)
final_table = final_table.style.set_table_styles({
    ('', ''): [{'selector': 'td', 'props': 'border-top: 3px solid black;'}]
}, overwrite=False, axis=1)

title_html = '<h4 style="text-align: left;">Descriptive Statistics</h2>'
display(HTML(title_html))
display(final_table)