The data in Table 5.1 samples of size 50 from a normal distribution, a skewed-right distribution, a skewed-left distribution, and a uniform distribution.

The normal data are female height measurements, the skewed-right data are age at marriage for females, the skewed-left data are obituary data that give the age at death for females, and the uniform data are the amount of cola put into a 12 ounce container by a soft drinks machine.

1.) Find the (a) first, (b) second, (c) third, and (d) fourth moments for each of the sets of data (normal, skewed-right, skewed-left, uniform).

In [30]:
import pandas as pd

normal = [67, 70, 63, 65, 68, 60, 65, 64, 69, 61, 66, 65, 71, 61, 69, 66, 68, 64, 61, 67, 61, 67, 62, 63, 65, 68, 66, 63, 64, 66, 66, 65, 64, 63, 66, 67, 65, 68, 64, 61, 60, 63, 65, 68, 69, 66, 63, 66, 64, 63]
skew_right = [69, 62, 43, 59, 66, 65, 63, 65, 55, 60, 67, 64, 65, 68, 57, 34, 40, 29, 34, 26, 26, 28, 24, 23, 30, 29, 35, 34, 33, 29, 25, 35, 34, 34, 29, 26, 30, 33, 28, 31, 46, 35, 36, 35, 38, 39, 34, 35, 34, 34]
skew_left = [31, 40, 24, 30, 38, 26, 29, 55, 46, 26, 34, 29, 34, 26, 57, 85, 85, 85, 41, 34, 19, 34, 28, 28, 30, 85, 30, 28, 31, 25, 25, 41, 58, 50, 26, 24, 26, 31, 38, 36, 38, 40, 35, 31, 38, 19, 28, 24, 22, 28]
uniform = [102, 65, 70, 95, 73, 79, 60, 73, 84, 89, 85, 72, 76, 93, 92, 93, 76, 97, 97, 10, 10, 85, 25, 82, 83, 28, 92, 58, 65, 77, 92, 44, 50, 77, 65, 43, 48, 35, 77, 62, 55, 66, 63, 74, 65, 82, 77, 62, 85, 82]

def mgf(array, order, about):
    values = [(x - about)**order for x in array]
    return sum(values) / len(values)

data_1 = {
    'Dataset': ['Normal', 'Skew Right', 'Skew Left', 'Uniform'],
    'First Moment': [mgf(normal, 1, 0), mgf(skew_right, 1, 0), mgf(skew_left, 1, 0), mgf(uniform, 1, 0)],
    'Second Moment': [mgf(normal, 2, 0), mgf(skew_right, 2, 0), mgf(skew_left, 2, 0), mgf(uniform, 2, 0)],
    'Third Moment': [mgf(normal, 3, 0), mgf(skew_right, 3, 0), mgf(skew_left, 3, 0), mgf(uniform, 3, 0)],
    'Fourth Moment': [mgf(normal, 4, 0), mgf(skew_right, 4, 0), mgf(skew_left, 4, 0), mgf(uniform, 4, 0)],
}

df_moments1 = pd.DataFrame(data_1)
df_moments1.style.format(precision=2).hide(axis='index')

2.) Find the (a) first, (b) second, (c) third, and (d) fourth moments about the mean for each of the sets of data (normal, skewed-right, skewed-left, uniform).

In [32]:
data_2 = {
    'Dataset': ['Normal', 'Skew Right', 'Skew Left', 'Uniform'],
    'First Moment About The Mean': [mgf(normal, 1, np.mean(normal)), mgf(skew_right, 1, np.mean(skew_right)), mgf(skew_left, 1, np.mean(skew_left)), mgf(uniform, 1, np.mean(uniform))],
    'Second Moment About The Mean': [mgf(normal, 2, np.mean(normal)), mgf(skew_right, 2, np.mean(skew_right)), mgf(skew_left, 2, np.mean(skew_left)), mgf(uniform, 2, np.mean(uniform))],
    'Third Moment About The Mean': [mgf(normal, 3, np.mean(normal)), mgf(skew_right, 3, np.mean(skew_right)), mgf(skew_left, 3, np.mean(skew_left)), mgf(uniform, 3, np.mean(uniform))],
    'Fourth Moment About The Mean': [mgf(normal, 4, np.mean(normal)), mgf(skew_right, 4, np.mean(skew_right)), mgf(skew_left, 4, np.mean(skew_left)), mgf(uniform, 4, np.mean(uniform))],
}

df_moments2 = pd.DataFrame(data_2)
df_moments2.style.format(precision=2).hide(axis='index')

3.) Find the (a) first, (b) second, (c) third, and (d) fourth moments about the number 75 for the set of female height measurements.

In [35]:
data_3 = {
    'Dataset': ['Normal', 'Skew Right', 'Skew Left', 'Uniform'],
    'First Moment About 75': [mgf(normal, 1, 75), mgf(skew_right, 1, 75), mgf(skew_left, 1, 75), mgf(uniform, 1, 75)],
    'Second Moment About 75': [mgf(normal, 2, 75), mgf(skew_right, 2, 75), mgf(skew_left, 2, 75), mgf(uniform, 2, 75)],
    'Third Moment About 75': [mgf(normal, 3, 75), mgf(skew_right, 3, 75), mgf(skew_left, 3, 75), mgf(uniform, 3, 75)],
    'Fourth Moment About 75': [mgf(normal, 4, 75), mgf(skew_right, 4, 75), mgf(skew_left, 4, 75), mgf(uniform, 4, 75)],
}

df_moments3 = pd.DataFrame(data_3)
df_moments3.style.format(precision=2).hide(axis='index')

4.) Using the results of items 2 and 3 for the set of female height measurements, verify the relations between the moments (a) \$ m_2 = m'_2 - {m'_1}^2 \$, (b) \$ m_3 = m'_3 - 3{m'_1}{m'_2} + 2{m'_1}^3 \$ and (c) \$ m_4 = m'_4 - 4{m'_1}{m'_3} + 6{m'_1}^2{m'_2} - 3{m'_1}^4 \$

(a) \$ m_2 = m'_2 - {m'_1}^2 \$

In [54]:
second_moment = mgf(normal, 2, 75) - mgf(normal, 1, 75)**2

data_4a = {
    'Second Moment About The Mean': ['Obtained Earlier', 'From Identity'],
    'Value': [mgf(normal, 2, np.mean(normal)), second_moment],
}

df_moments4a = pd.DataFrame(data_4a)
df_moments4a.style.format(precision=2).hide(axis='index')

(b) \$ m_3 = m'_3 - 3{m'_1}{m'_2} + 2{m'_1}^3 \$

In [55]:
third_moment = mgf(normal, 3, 75) - 3*mgf(normal, 1, 75)*mgf(normal, 2, 75) + 2*mgf(normal, 1, 75)**3

data_4b = {
    'Third Moment About The Mean': ['Obtained Earlier', 'From Identity'],
    'Value': [mgf(normal, 3, np.mean(normal)), third_moment],
}

df_moments4b = pd.DataFrame(data_4b)
df_moments4b.style.format(precision=2).hide(axis='index')

(c) \$ m_4 = m'_4 - 4{m'_1}{m'_3} + 6{m'_1}^2{m'_2} - 3{m'_1}^4 \$

In [56]:
fourth_moment = mgf(normal, 4, 75) - 4*mgf(normal, 1, 75)*mgf(normal, 3, 75) + 6*(mgf(normal, 1, 75)**2)*mgf(normal, 2, 75) - 3*mgf(normal, 1, 75)**4

data_4c = {
    'Fourth Moment About The Mean': ['Obtained Earlier', 'From Identity'],
    'Value': [mgf(normal, 4, np.mean(normal)), fourth_moment],
}

df_moments4c = pd.DataFrame(data_4c)
df_moments4c.style.format(precision=2).hide(axis='index')